@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;
  --magenta: #ba0fe2;
  --dark-blue: #171d3a;
}

* {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
}

*::-moz-selection {
  /* Code for Firefox */
  color: var(--dark-blue);
  background: var(--magenta);
}

*::selection {
  color: var(--dark-blue);
  background: var(--magenta);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Hide scroll corner */
*::-webkit-scrollbar-corner {
  display: none;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue);
}

body {
  background: var(--black);
}
